<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- css -->
    <link rel="stylesheet" href="./css/dist/code_editor.min.css">
</head>

<body style="background-color: #ddd;">
    <div id="app">
        <code-editor @lang="getLanguage" @langs="getLanguages" style="margin: 100px auto" v-model="value"
            :languages="[['javascript', 'JS'], ['html', 'HTML']]" :language_selector="true" :wrap_code="true"
            width="100%" max_width="600px" :hide_header="false" height="340px" :autofocus="true"></code-editor>
        <code-editor style="margin: 100px auto" v-model="value" theme="light"
            :languages="[['javascript', 'JS'], ['html', 'HTML']]" :language_selector="true" :wrap_code="true"
            width="100%" max_width="600px" :hide_header="false" height="340px"></code-editor>
    </div>
    <!-- js -->
    <script src="./lib/vue@3.2.6.prod.js"></script>
    <script src="./lib/highlight.11.2.0.min.js"></script>
    <script src="./js/dist/code_editor.prod.js"></script>
    <script>
        const app = Vue.createApp({
            components: {
                'code-editor': CodeEditor
            },
            methods: {
                getLanguage(lang) {
                    console.log('The current language is: ' + lang)
                },
                getLanguages(langs) {
                    console.log('The language list is: ' + langs)
                }
            },
            data() {
                return {
                    value: `import CodeEditor from 'CodeEditor';
export default {
    components: {
      CodeEditor
    },
    data() {
        return {
          value: ''
        }
    }
}`
                }
            }
        });
        app.mount('#app')
    </script>
</body>

</html>