body {
    --main-10: #002b14;
    --main-9: #00401d;
    --main-8: #005c2a;
    --main-7: #007f3a;
    --main-6: #00a54b;
    --main-5: #00c55a;
    --main-4: #51cc75;
    --main-3: #94daa5;
    --main-2: #c6eace;
    --main-1: #e2f4e6;
    --main-0: #f1f9f3;
    --red-10: #380014;
    --red-9: #52001e;
    --red-8: #77002b;
    --red-7: #a5003c;
    --red-6: #d5004d;
    --red-5: #ff005c;
    --red-4: #ff5177;
    --red-3: #ff94a6;
    --red-2: #ffc6ce;
    --red-1: #ffe2e6;
    --red-0: #fff1f3;
    --green-10: #002d0d;
    --green-9: #004212;
    --green-8: #005f1b;
    --green-7: #008525;
    --green-6: #00ac30;
    --green-5: #00cd39;
    --green-4: #55d364;
    --green-3: #a8e4ad;
    --green-2: #d9f2db;
    --green-1: #f0faf1;
    --green-0: #f9fdf9;
    --blue-10: #111c34;
    --blue-9: #19294d;
    --blue-8: #243b6f;
    --blue-7: #32519a;
    --blue-6: #4169c7;
    --blue-5: #4e7eee;
    --blue-4: #6d90f0;
    --blue-3: #a1b4f4;
    --blue-2: #ccd5f8;
    --blue-1: #e5eafb;
    --blue-0: #f2f5fd;
    --yellow-10: #382200;
    --yellow-9: #523100;
    --yellow-8: #774700;
    --yellow-7: #a56300;
    --yellow-6: #d58000;
    --yellow-5: #ff9900;
    --yellow-4: #ffa651;
    --yellow-3: #ffc294;
    --yellow-2: #ffdcc6;
    --yellow-1: #ffede2;
    --yellow-0: #fff6f1;
    --grey-10: #232726;
    --grey-9: #343b39;
    --grey-8: #4c5553;
    --grey-7: #697572;
    --grey-6: #82928e;
    --grey-5: #8e9f9b;
    --grey-4: #c1c9c7;
    --grey-3: #dfe3e2;
    --grey-2: #f0f2f1;
    --grey-1: #f8f9f9;
    --grey-0: #fcfcfc;
    --white: white;
    --black: black;
}