body.dark {
    --main-10: #f9fdfa;
    --main-9: #f1faf3;
    --main-8: #e2f4e6;
    --main-7: #c2e9cb;
    --main-6: #8cd89f;
    --main-5: #00c55a;
    --main-4: #00bb55;
    --main-3: #00a049;
    --main-2: #007c39;
    --main-1: #005b2a;
    --main-0: #00401d;
    --red-10: #fff9fa;
    --red-9: #fff1f3;
    --red-8: #ffe2e6;
    --red-7: #ffc2cb;
    --red-6: #ff8c9f;
    --red-5: #ff005c;
    --red-4: #f20057;
    --red-3: #cf004b;
    --red-2: #a1003a;
    --red-1: #76002a;
    --red-0: #53001e;
    --green-10: #f9fdf9;
    --green-9: #f1faf2;
    --green-8: #e2f5e3;
    --green-7: #c2ebc6;
    --green-6: #8cdd94;
    --green-5: #00cd39;
    --green-4: #00c136;
    --green-3: #009a2b;
    --green-2: #006b1e;
    --green-1: #004513;
    --green-0: #002b0c;
    --blue-10: #f9fafe;
    --blue-9: #f3f5fd;
    --blue-8: #e5e9fb;
    --blue-7: #c9d3f8;
    --blue-6: #9aaff3;
    --blue-5: #4e7eee;
    --blue-4: #4a78e2;
    --blue-3: #3f66c2;
    --blue-2: #315096;
    --blue-1: #243a6e;
    --blue-0: #19294e;
    --yellow-10: #fffbf9;
    --yellow-9: #fff6f1;
    --yellow-8: #ffede2;
    --yellow-7: #ffdac2;
    --yellow-6: #ffbd8c;
    --yellow-5: #ff9900;
    --yellow-4: #f29100;
    --yellow-3: #cf7c00;
    --yellow-2: #a16100;
    --yellow-1: #764700;
    --yellow-0: #533200;
    --grey-10: #fafafa;
    --grey-9: #f3f4f4;
    --grey-8: #e4e8e7;
    --grey-7: #c9d0cf;
    --grey-6: #a5b2af;
    --grey-5: #8e9f9b;
    --grey-4: #707d7a;
    --grey-3: #535d5a;
    --grey-2: #39403f;
    --grey-1: #272b2a;
    --grey-0: #1a1d1c;
    --white: black;
    --black: white;
}