body.mirror {
    --main_10: #f9fdfa;
    --main_9: #f1faf3;
    --main_8: #e2f4e6;
    --main_7: #c2e9cb;
    --main_6: #8cd89f;
    --main_5: #00c55a;
    --main_4: #00bb55;
    --main_3: #00a049;
    --main_2: #007c39;
    --main_1: #005b2a;
    --main_0: #00401d;
    --red_10: #fff9fa;
    --red_9: #fff1f3;
    --red_8: #ffe2e6;
    --red_7: #ffc2cb;
    --red_6: #ff8c9f;
    --red_5: #ff005c;
    --red_4: #f20057;
    --red_3: #cf004b;
    --red_2: #a1003a;
    --red_1: #76002a;
    --red_0: #53001e;
    --green_10: #f9fdf9;
    --green_9: #f1faf2;
    --green_8: #e2f5e3;
    --green_7: #c2ebc6;
    --green_6: #8cdd94;
    --green_5: #00cd39;
    --green_4: #00c136;
    --green_3: #009a2b;
    --green_2: #006b1e;
    --green_1: #004513;
    --green_0: #002b0c;
    --blue_10: #f9fafe;
    --blue_9: #f3f5fd;
    --blue_8: #e5e9fb;
    --blue_7: #c9d3f8;
    --blue_6: #9aaff3;
    --blue_5: #4e7eee;
    --blue_4: #4a78e2;
    --blue_3: #3f66c2;
    --blue_2: #315096;
    --blue_1: #243a6e;
    --blue_0: #19294e;
    --yellow_10: #fffbf9;
    --yellow_9: #fff6f1;
    --yellow_8: #ffede2;
    --yellow_7: #ffdac2;
    --yellow_6: #ffbd8c;
    --yellow_5: #ff9900;
    --yellow_4: #f29100;
    --yellow_3: #cf7c00;
    --yellow_2: #a16100;
    --yellow_1: #764700;
    --yellow_0: #533200;
    --grey_10: #fafafa;
    --grey_9: #f3f4f4;
    --grey_8: #e4e8e7;
    --grey_7: #c9d0cf;
    --grey_6: #a5b2af;
    --grey_5: #8e9f9b;
    --grey_4: #707d7a;
    --grey_3: #535d5a;
    --grey_2: #39403f;
    --grey_1: #272b2a;
    --grey_0: #1a1d1c;
    --white: black;
    --black: white;
}