body.mirror {
    --red_10: #fff9fa;
    --red_9: #fff1f3;
    --red_8: #ffe2e6;
    --red_7: #ffc2cb;
    --red_6: #ff8c9f;
    --red_5: #ff005c;
    --red_4: #f20057;
    --red_3: #cf004b;
    --red_2: #a1003a;
    --red_1: #76002a;
    --red_0: #53001e;
    --green_10: #f9fdfa;
    --green_9: #f1faf3;
    --green_8: #e2f5e6;
    --green_7: #c3ebcd;
    --green_6: #8cdca2;
    --green_5: #08cb62;
    --green_4: #08c05c;
    --green_3: #06994a;
    --green_2: #046a33;
    --green_1: #034521;
    --green_0: #022b15;
    --blue_10: #f9fafe;
    --blue_9: #f3f5fd;
    --blue_8: #e5e9fb;
    --blue_7: #c9d3f8;
    --blue_6: #9aaff3;
    --blue_5: #4e7eee;
    --blue_4: #4a78e2;
    --blue_3: #3f66c2;
    --blue_2: #315096;
    --blue_1: #243a6e;
    --blue_0: #19294e;
    --yellow_10: #fffbf9;
    --yellow_9: #fff6f1;
    --yellow_8: #ffede2;
    --yellow_7: #ffdac2;
    --yellow_6: #ffbd8c;
    --yellow_5: #ff9900;
    --yellow_4: #f29100;
    --yellow_3: #cf7c00;
    --yellow_2: #a16100;
    --yellow_1: #764700;
    --yellow_0: #533200;
    --grey_10: #f9fafa;
    --grey_9: #f3f3f4;
    --grey_8: #e5e6e7;
    --grey_7: #caccce;
    --grey_6: #9ca0a6;
    --grey_5: #525d6b;
    --grey_4: #4e5866;
    --grey_3: #434c57;
    --grey_2: #343b44;
    --grey_1: #262b31;
    --grey_0: #1b1e23;
    --white: black;
    --black: white;
}