body {
    --red_10: #380014;
    --red_9: #52001e;
    --red_8: #77002b;
    --red_7: #a5003c;
    --red_6: #d5004d;
    --red_5: #ff005c;
    --red_4: #ff5177;
    --red_3: #ff94a6;
    --red_2: #ffc6ce;
    --red_1: #ffe2e6;
    --red_0: #fff1f3;
    --green_10: #022d16;
    --green_9: #034120;
    --green_8: #045e2e;
    --green_7: #05833f;
    --green_6: #07aa52;
    --green_5: #08cb62;
    --green_4: #55d17d;
    --green_3: #a8e3b7;
    --green_2: #d9f2df;
    --green_1: #f0faf2;
    --green_0: #f9fdfa;
    --blue_10: #111c34;
    --blue_9: #19294d;
    --blue_8: #243b6f;
    --blue_7: #32519a;
    --blue_6: #4169c7;
    --blue_5: #4e7eee;
    --blue_4: #6d90f0;
    --blue_3: #a1b4f4;
    --blue_2: #ccd5f8;
    --blue_1: #e5eafb;
    --blue_0: #f2f5fd;
    --yellow_10: #382200;
    --yellow_9: #523100;
    --yellow_8: #774700;
    --yellow_7: #a56300;
    --yellow_6: #d58000;
    --yellow_5: #ff9900;
    --yellow_4: #ffa651;
    --yellow_3: #ffc294;
    --yellow_2: #ffdcc6;
    --yellow_1: #ffede2;
    --yellow_0: #fff6f1;
    --grey_10: #121417;
    --grey_9: #1a1e22;
    --grey_8: #262b32;
    --grey_7: #353c45;
    --grey_6: #454e5a;
    --grey_5: #525d6b;
    --grey_4: #707882;
    --grey_3: #a3a7ac;
    --grey_2: #ccced1;
    --grey_1: #e5e6e8;
    --grey_0: #f3f3f4;
    --white: white;
    --black: black;
}