body {
    --main_10: #002b14;
    --main_9: #00401d;
    --main_8: #005c2a;
    --main_7: #007f3a;
    --main_6: #00a54b;
    --main_5: #00c55a;
    --main_4: #51cc75;
    --main_3: #94daa5;
    --main_2: #c6eace;
    --main_1: #e2f4e6;
    --main_0: #f1f9f3;
    --red_10: #380014;
    --red_9: #52001e;
    --red_8: #77002b;
    --red_7: #a5003c;
    --red_6: #d5004d;
    --red_5: #ff005c;
    --red_4: #ff5177;
    --red_3: #ff94a6;
    --red_2: #ffc6ce;
    --red_1: #ffe2e6;
    --red_0: #fff1f3;
    --green_10: #002d0d;
    --green_9: #004212;
    --green_8: #005f1b;
    --green_7: #008525;
    --green_6: #00ac30;
    --green_5: #00cd39;
    --green_4: #55d364;
    --green_3: #a8e4ad;
    --green_2: #d9f2db;
    --green_1: #f0faf1;
    --green_0: #f9fdf9;
    --blue_10: #111c34;
    --blue_9: #19294d;
    --blue_8: #243b6f;
    --blue_7: #32519a;
    --blue_6: #4169c7;
    --blue_5: #4e7eee;
    --blue_4: #6d90f0;
    --blue_3: #a1b4f4;
    --blue_2: #ccd5f8;
    --blue_1: #e5eafb;
    --blue_0: #f2f5fd;
    --yellow_10: #382200;
    --yellow_9: #523100;
    --yellow_8: #774700;
    --yellow_7: #a56300;
    --yellow_6: #d58000;
    --yellow_5: #ff9900;
    --yellow_4: #ffa651;
    --yellow_3: #ffc294;
    --yellow_2: #ffdcc6;
    --yellow_1: #ffede2;
    --yellow_0: #fff6f1;
    --grey_10: #232726;
    --grey_9: #343b39;
    --grey_8: #4c5553;
    --grey_7: #697572;
    --grey_6: #82928e;
    --grey_5: #8e9f9b;
    --grey_4: #c1c9c7;
    --grey_3: #dfe3e2;
    --grey_2: #f0f2f1;
    --grey_1: #f8f9f9;
    --grey_0: #fcfcfc;
    --white: white;
    --black: black;
}